


.create-section{
    margin-bottom: 200px;
}
.create{
    background-image: url("../images/create/backround-img.jpg");
    background-size: 100%;
}
.create__content{
    width: 513px;
    padding: 120px 0px 141px 86px;
}
.create__title{
    margin-bottom: 32px;
    color: #FEFCF7;
    font-family: "Fraunces", serif ;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}
.create__text{
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}