


.work-section{
    padding-top: 350px;
    margin-bottom: 200px;
}

.work__title{
    margin-bottom: 80px;
    width: 255px;
    color: #83888F;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.work__circle{
    margin-bottom: 67px;
    position: relative;
    width: 760px;
    height: 2px;
    background-color: #FDD6BA;
}
.circle__1{
    position: absolute;
    height: 31px;
    width: 31px;
    border: 2px solid #0E8784;
    background-color: #fff;
    border-radius: 50%;
    left: 0;
    top: -14px;
}
.circle__2{
    position: absolute;
    height: 31px;
    width: 31px;
    border: 2px solid #0E8784;
    background-color: #fff;
    border-radius: 50%;
    top: -14px;
    right: 50%;
}
.circle__3{
    position: absolute;
    height: 31px;
    width: 31px;
    border: 2px solid #0E8784;
    background-color: #fff;
    border-radius: 50%;
    top: -14px;
    right: 0;
}
// Ro'yxat element//


.pick__number{
    width: 90px;
    height: 72px;
    color: #FDD6BA;
    font-family: "Fraunces", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}
.pick__title--accend{
    padding: 0 0 35px 0;
}
.pick__title{
    margin-bottom: 43px;
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
}
.pick__text{
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.pick__list{
    margin-bottom: 64px;
    display: flex;
    align-items: center;
}

.pick__item+.pick__item{
    margin-left: 95px;
}
.pick__item{
    width: 285px;
}
.pick__number{
    margin-bottom: 38px;
}
.pick__link{
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;

    display: inline-block;
    width: 217px;
    padding: 15px 0;
    border-radius: 6px;
    background-color: #0E8784;
    transition: background-color 0.4s ease;

    &:hover{
        background-color: #66D2CF;
    }
    &:active{
        background-color: #E2DEDB;
    }
}
